each post in Posts
  div(class="blog-post" id="#{post._id}")
            if(User.admin == true)
              .delete-button
                p="delete"
            .left-blog-post
              if post.authorType == 'profesor'
                img(src='/img/prof_avatar.png')
              else
                img(src='/img/stud_avatar.png')
              br
              a(href='/user-post/#{post.author}')=post.author
              br
              span=post.date
              //- br
              //- span 31 March, 2016 
            .right-blog-post
              h3=post.title

              p=post.text
          .more-post
              a(href='#') Lexo me shume
