extends layout
block content

  body
    .post
      header
        .logo
          a(href='/home')
            img(src="/img/logo2.png")
        .avatar
          span=User.name + " " + User.surname
          img(src='/img/avatar.png')

          .logout
            a(href="/logout")
              | logout
      .blog
        .menu
          if User.admin !== true
            ul.menulist

              li( class="active" id="kryesore" )
                | Pergjithshme

              li( id="#{Paralel}" )
                | Paraleli 

              li( id="#{User.group}" )
                | Grupi #{User.group}
          else 
            ul.droplist
                li( class="active" id="kryesore" )
                  | Kryesore
                span.divider
                select(name='filter_viti' id="filter_viti" class="feed-filter" style="margin-left:50px")
                  option(value="1")="Viti 1"
                  option(value="2")="Viti 2"
                  option(value="3")="Viti 3"

                select(name='filter_grupi' id="filter_grupi" class="feed-filter")
                  option(value="a1")="A1"
                  option(value="a2")="A2"
                  option(value="b1")="B1"
                  option(value="b2")="B2"             

          a(href='/post') + Posto nje njoftim
          
        .posts-container
          .modal
            .modal-content
              //- span.closemodal="x"
              p Je i sigurt qe do ta fshish postimin?
              input(type='submit' class='po' value='Po')
              input(type='submit' class='jo' value='Jo')        
          //- posts go in here

    script(src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous")
    script(src='/js/main.js')
