extends layout
block content

  body
    .post
      header
        .logo
          img(src="img/logo2.png")
        .avatar
          span=User.name + " " + User.surname
          img(src='img/avatar.png')
      .blog
        .menu
          ul

            li.active Kryesore
            li TIK i pergjithshem
            li Grupi #{User.group}
            li Viti #{User.year}
          a(href='/post') + Posto nje njoftim


        each post in Posts
          .blog-post
            .left-blog-post
              img(src="img/rectangle.png")
              br
              a(href='#')=post.author
              br
              span=post.date
              //- br
              //- span 31 March, 2016 
            .right-blog-post
              h3=post.text

              p=post.text





        //- .blog-post1
        //-   .left-blog-post
        //-     img(src="img/rectangle.png")
        //-     br
        //-     a(href='#') Sekretaria FSHN
        //-     br
        //-     span 12:30 AM
        //-     br
        //-     span 31 March, 2016 
        //-   .right-blog-post
        //-     h3 Lorem ipsum dolor sit amet, 

        //-     p consectetur adipiscing elit. Ut vitae est nunc. Aenean finibus, ante placerat cursus fermentum, nulla erat ultrices quam, ut sollicitudin ipsum massa ultrices nibh. Integer vel ligula fermentum, sodales risus ac, feugiat magna. 

        //-     p semper eget et felis. Vestibulum purus massa,
        .more-post
          a(href='#') Lexo me shume