extends layout
block content

  body
    .post
      header
        .logo
          a(href='/home')
            img(src="img/logo2.png")
        .avatar
          span=User.name + " " + User.surname
          img(src='img/avatar.png')
          .logout
            a(href="/logout" style='color:white') logout
      .blog
        .blog-header
          span Posto nje njoftim
          a(href='/home') Kthehu ne faqen kryesore
        .blog-form
          form(action="/post" method="post")
                p Titulli:
                input(type="text" id="titulli" name="title")
                br
                p Mesazhi:
                textarea(name="text" id='njoftim')
                br
                .posto-tek
                  p Posto tek: 
                  select(list="viti_shkollor" name="feed" id="viti")
                    option(value='kryesore')="Kryesore"
                    option(value='#{Paralel}')="Paraleli"
                    option(value='#{User.group}')="Grupi"
                .njofto-permes
                  p Njofto permes:
                  select(list="njoftimi" name="service" placeholder='Njofto' id="njofto")
                    option(value='BOTH')="Email dhe SMS"
                    option(value='EMAIL')="Email"
                    option(value='SMS')="SMS"
                .upload
                  p Upload:
                      input(id="file-upload" type="file")
                .blog-footer
                  input(type='submit' id='posto')
                  a(href="/home" id='anullo') Anullo
  script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
  script(src='/js/main.js')