extends layout
block content
  
  body
    .signup
      header
        .logo
          img(src="/img/logo2.png")
        .register
          span Nuk je #{showtype}?

          if showtype == 'student'
            a(href="/register/profesor" id="register") Regjistrohu si profesor
          else
            a(href="/register/student" id="register") Regjistrohu si student

      .main
        .content-header
          <i class="fa fa-user"></i>
          span Regjistrohu si #{showtype}
        .content
            form(action="/student/create" method="post")
                .person
                  input(type="text" id="emri" placeholder="Emri" name="name")
                  input(type="text" id="mbiemri" placeholder="Mbiemri" name="surname")
                .other
                  input(type="email" id="email" placeholder="Emaili juaj @fshnstudent.info" name="email")
                  br
                  input(type="password" id="password" placeholder="Password" name="password")
                  br
                  input(type="password" id="confirm_password" placeholder="Perseri Password" name="repassword")
                  br
                  input(type="text" id="nr" placeholder="Nr celular ku do merrni njoftimet" name="number")
                  br
                  select(name="year" placeholder="Viti" id="viti")
                    option(value='1')="1"
                    option(value='2')="2"
                    option(value='3')="3"
                  select(name="group" placeholder="Grupi" id="grupi_shkollor" )
                    option(value='A1')="A1"
                    option(value='A2')="A1"
                    option(value='B1')="B1"
                    option(value='B2')="B2"
                .submit
                    input(type='submit' id='regjistrohu')

    script(src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous")
    script(src='scripts/main.js')
